* {
    box-sizing: border-box;
    margin: 0;
}

#weather_info {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background: url("./images/beach.jpg") no-repeat;
    background-size: cover;
}

#weather_info header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(130, 224, 170, 0.6);
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

#weather_info .searchBtn {
    position: absolute;
    right: 30px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#weather_info img {
    width: 100%;
    height: 100%;
}

#weather_info section {
    float: left;
    color: #344d67;
    padding: 10px 20px;
}

#weather_info section + section {
    float: right;
}

section h2 {
    font-size: 2em;
    color: white;
}

#weather_info .cont_temp {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.cont_temp span {
    display: block;
    font-size: 1.5em;
}

section figure {
    width: 80px;
    height: 80px;
}

section figure img {
    display: block;
    width: 100%;
}

section .temp {
    font-size: 3.4em;
}
