.loading_box {
    width: 100px;
    height: 100px;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;
}

.load_img {
    width: 100%;
    height: 100%;
}
